.city-weather .page-title{font-family:"Roboto";font-size:30px;font-weight:500;letter-spacing:.5 rem;font-style:normal}
.screen-loader{height:100vh;display:flex;flex-direction:column;align-items:center;justify-content:center}
